* {
  box-sizing: border-box;
}
body {
  background-color: cyan;
}

html {
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  letter-spacing: 0.08em;
  font-family: "Roboto Slab", serif;
  font-size: 3.75rem;
  height: 10px;
  color: yellow;
  text-align: center;
}

img.imagesP {
  width: 300px;
  height: 200px;
  display: grid;
  font-size: 16px;
}

.text {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-style: italic;
 font-size: 150%;
 padding: 1px;
}

.text__tittle {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  list-style-position: inside; 
}

.header__navbar {
  letter-spacing: 0.1em;
}

.header-navbar__link {
  display: block;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  font-size: 1.125rem;
}


.footer {
  text-align: center;
  background-color: grey;
  padding: 50px 20px 70px;
}



