* {
  box-sizing: border-box;
}
body {
  background-color: cyan;
}

html {
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  letter-spacing: 0.08em;
  font-family: "Roboto Slab", serif;
  font-size: 3.75rem;
}


.titlePlus {
  text-align: center;
}

.imagesP {
  width: 300;
  height: 300;
  display: grid;
 margin: auto;
}

.text {
  text-align: center;
}

.text__tittle {
  text-align: center;
}

.header__navbar {
  letter-spacing: 0.1em;
}

.header-navbar__link {
  display: block;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  font-size: 1.125rem;
}

/* .header__navbar {
  display: block;
  font-size: 1.125rem;
  margin: auto;
} */




.footer {
  text-align: center;
  background-color: grey;
  padding: 50px 20px 70px;
}



